﻿@model Julie.ViewModels.AddproductViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="~/admin_styles/icons/mini-logo.ico" type="image/x-icon">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="~/admin_styles/style.css">

</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><img src="~/admin_styles/icons/mini-logo.png" width="30px" height="30px" alt="">Julie</h1>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="">
                        <img src="~/admin_styles/icons/wear.png" width="30px" height="30px" alt="">
                        <span>Добавление товаров</span>
                    </a>
                </li>

                <li>
                    <a href="" class="active">
                        <img src="~/admin_styles/icons/sales.png" width="30px" height="30px" alt="">

                        <span>Sales</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="~/admin_styles/icons/human.png" width="30px" height="30px" alt="">
                        <span>Пользователи</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h1>
                <label for="">
                    <span class="las la-bars"></span>
                </label>
                Admin panel Julie
            </h1>
            <div class="user-wrapper">
                <img src="~/admin_styles/icons/human.png" width="30px" height="30px" alt="">
                <div>
                    <h4>Admin name</h4>
                    <small>role Admin</small>
                </div>
            </div>
        </header>

        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>Add sales</h1>
                        <table>
                            <tr>
                                <td> <span>Text sale</span> </td>
                                <td> <span><input type="text"></span> </td>
                            </tr>
                            <tr>
                                <td> <span>Amount sale</span> </td>
                                <td> <span><input type="number"></span> </td>
                            </tr>

                        </table>
                        <a href="" class="shine-button">Add sale</a>

                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>Add User</h1>
                        <table>
                            <tr>
                                <td>Name</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="email"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="password"></td>
                            </tr>
                        </table>
                        <a href="" class="shine-button">Add User</a>

                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
                <div class="card-single">

                    <form action="/Admin/AddProduct" method="post">
                        <div asp-validation-summary="All"></div>

                        <h1>Добавить товар</h1>
                        <table>
                            <tr>
                                <td><span>Название</span></td>
                                <td><input type="text" name="Name"></td>
                            </tr>

                            <tr>
                                <td><span>Наличие</span></td>
                                <td><span><input type="text" name="Instock"></span> </td>
                            </tr>

                            <tr>
                                <td><span>Цена</span></td>
                                <td><span><input type="number" name="Price"></span> </td>
                            </tr>

                            <tr>
                                <td><span>Путь к изображению</span></td>
                                <td><span><input type="text" name="Filepath"></span> </td>
                            </tr>
                        </table>
                        AddProduct

                        <button class="submit" name="addproduct">Добавить товар</button>
                        <!-- <a href="/Admin/AddProduct" class="shine-button">Add Product</a>-->

                    </form>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>