﻿@using Julie.Data.Models
@model List<Product>
@{
    ViewBag.Title = "Index";
}

<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="~/img_0/mini-logo.ico" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css_catalog/style.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <link rel="stylesheet" href="~/css_0/main.css">

    <title>Julie wear shop</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div><a class="navbar-brand" href="/Home/Index"> <img src="~/img_0/logo.svg" alt=""> </a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/Auth/Auth"> Войти <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/Reg/Reg"> Зарегистрироваться <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Pay/Pay"> Оплата <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Topic/Topic"> Статьи <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/About/About"> О компании <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Contacts/Contacts"> Контакты <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Feedback/Feedback">Оставить отзыв</a>
                </li>




                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart-modal">
                        Корзина <span class="badge badge-light">3</span>
                    </button>
                </li>
            </ul>

        </div>
    </nav>

    <div class="wrapper mt-5">
        <div class="container">
            <div class="row">

                <div class="product-cards mb-5">

                    <div class="product-card">

                        <div class="offer">
                            <div class="offer-hit">Hit</div>
                            <div class="offer-sale">Sale</div>
                        </div>

                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/1_b.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">

                            <div class="card-title">
                                <a href="/Home/Product">Бюстгальтер</a>
                            </div>

                            <div class="card-price text-center">
                                <del>2 799 руб.</del>
                                1 999 руб.
                            </div>

                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>

                            <div class="item-status"><i class="fas fa-check text-success"></i> В наличии</div>
                        </div>

                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="offer">
                            <div class="offer-hit">Hit</div>
                        </div>
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product">Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                12 626 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="far fa-pause-circle text-danger"></i> Ожидается
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="offer">
                            <div class="offer-hit">Hit</div>
                        </div>
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/3.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> D7/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                13 338 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="far fa-pause-circle text-danger"></i> Ожидается
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/4.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> D8/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                13 794 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="far fa-pause-circle text-danger"></i> Ожидается
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/5.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> D8/TS  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                14 165 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/6.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> GA30/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                22 059 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/7.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> GA45/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                27 075 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/8.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> GA6/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                12 654 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/9.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> GA7/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                13 367 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/10.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> GA8/BK  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                13 794 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/11.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> GA8/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                13 794 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/12.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> HiLITE-T CD/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                10 175 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/13.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> J15/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                16 743 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/14.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> J18/N  Одежда. джамбо</a>
                            </div>
                            <div class="card-price text-center">
                                17 271 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/15.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> LITE-D SP/N  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                10 545 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/16.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> MD-42/TR  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                9 006 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-check text-success"></i> В наличии
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    <div class="product-card">
                        <div class="card-thumb">
                            <a href="/Home/Product"><img src="img/18.jpg" alt=""></a>
                        </div>
                        <div class="card-caption">
                            <div class="card-title">
                                <a href="/Home/Product"> TA070/Light Amber  Одежда</a>
                            </div>
                            <div class="card-price text-center">
                                20 378 руб.
                            </div>
                            <button type="button" class="btn btn-info btn-block card-addtocart">
                                <i class="fas fa-cart-arrow-down"></i> Купить
                            </button>
                            <div class="item-status">
                                <i class="fas fa-shipping-fast text-muted"></i> В наличии на складе
                            </div>
                        </div>
                    </div><!-- /product-card -->

                    @{ foreach (var item in Model)
                        {
                            <div class="product-card">
                                <div class="card-thumb">
                                    <a href="/Home/Product"><img src="img/@item.filepath" alt=""></a>
                                </div>
                                <div class="card-caption">
                                    <div class="card-title">
                                        <a href="/Home/Product">@item.name</a>
                                    </div>
                                    <div class="card-price text-center">@item.price</div>
                                    <button type="button" class="btn btn-info btn-block card-addtocart">
                                        <i class="fas fa-cart-arrow-down"></i> Купить
                                    </button>
                                    <div class="item-status">
                                        <i class="fas fa-shipping-fast text-muted"></i>@item.inStock
                                    </div>
                                </div>
                            </div>
                        }

                    }


                </div><!-- /product-cards -->
            </div><!-- /row -->

            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div><!-- /row -->

        </div><!-- /container -->
    </div><!-- /wrapper -->
    <!-- Modal -->
    <div class="modal fade cart-modal" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Картинка</th>
                                <th scope="col">Название</th>
                                <th scope="col">Цена</th>
                                <th scope="col">Кол-во</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/Home/Product"><img src="img/1.jpg" alt="CORT AD810M  Одежда"></a></td>
                                <td><a href="/Home/Product">Одежда</a></td>
                                <td>2 799</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td><a href="/Home/Product"><img src="img/2.jpg" alt=" D6/N  Одежда"></a></td>
                                <td><a href="/Home/Product">Одежда</a></td>
                                <td>12 626</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right">Товаров: 3 <br> Сумма: 28 051 руб.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>