﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="~/img_0/mini-logo.ico" type="image/x-icon">
    <meta charset="UTF-8">

    <style>
        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            z-index: 99999;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            display: none;
            pointer-events: none;
        }

            .modalDialog:target {
                display: block;
                pointer-events: auto;
            }

            .modalDialog > div {
                width: 386px;
                position: relative;
                margin: 10% auto;
                padding: 5px 20px 13px 20px;
                border-radius: 10px;
                background: #fff;
                background: -moz-linear-gradient(#fff, #999);
                background: -webkit-linear-gradient(#fff, #999);
                background: -o-linear-gradient(#fff, #999);
            }

        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }

            .close:hover {
                background: #00d9ff;
            }
    </style>

    <title>Отзыв</title>
    <link rel="stylesheet" href="~/css_feedback/main.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
</head>
<body>

    <form action="url" class="formFaq">
        <div class="faq">
            <span>F</span>
            <span>A</span>
            <span>Q</span>
        </div>

        <div class="inputBlock">
            <i class="far fa-user"></i>
            <input type="text" class="name" placeholder="Имя">
        </div>
        <div class="inputBlock">
            <i class="far fa-envelope"></i>
            <input type="text" class="email" placeholder="E-mail">
        </div>
        <div class="commentBlock">
            <i class="far fa-comment-dots"></i>
            <textarea name="comment" id="comment" class="inputText" autocomplete="off" placeholder="Сообщение" oninput="getCount()"></textarea>
        </div>

        <div class="under">
            <p class="counter"><span id="count"></span>/500 знаков</p>
            <div class="sendBlock">

                <a id="submitBtn" href="#openModal">Отправить</a>
                <div id="openModal" class="modalDialog">
                    <div>
                        <a  id="" href="#close" title="Закрыть" class="close">X</a>
                        <h2>Успех</h2>
                        <p>Ваш отзыв был успешно отправлен!</p>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
		var startCount = 0;
		var maxCount = 500;
		var submitBtn = $("#submitBtn");
		$("#count").text(startCount);
		function getCount() {
			var count = startCount + $("#comment").val().length;
			$("#count").text(count);
			if (count >= maxCount) {
				$(".counter").addClass("red");
			} else if (count < 500 && $(".counter").hasClass("red")) {
				$(".counter").removeClass("red");
				submitBtn.prop('disabled', false);
			}
			if (count >= 500) {
				submitBtn.prop('disabled', true);
			}
		}
    </script>

</body>
</html>