body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #787878;
	background-color: #b8eeff;
}

.formFaq {
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	border-radius: 10px 0 10px 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .4);;
	width: 400px;
	height: 300px;
	box-sizing: border-box;
	padding-top: 10px;
}

.faq {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90px;
	left: 100%;
	top: 0;
	padding: 0 7px;
	background: #fff;
	border-radius: 0 10px 10px 0;
	box-shadow: 15px 0 15px rgba(0, 0, 0, .2);
}

.faq span {
	font-size: 14px;
}

.inputBlock {
	display: flex;
	height: 40px;
	width: 95%;
	align-items: center;
	margin-top: 5px;
}

.inputBlock i {
	font-size: 21px;
	color: #000;
	margin: 0 10px 0 20px;
}

.inputBlock input {
	background: none;
	border: none;
	border-bottom: 1px solid #787878;
	flex: 1;
	font-size: 16px;
	height: 70%;
	outline: none;
}

.commentBlock {
	display: flex;
	width: 95%;
	align-items: flex-start;
	margin-top: 25px;
	height: 110px;
}

.commentBlock i {
	font-size: 21px;
	color: #000;
	margin: 0 10px 0 20px;
}

.commentBlock textarea {
	background: none;
	border: none;
	font-size: 16px;
	font-family: sans-serif;
	flex: 1;
	height: 100%;
	outline: none;
}

.under {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 20px 0 50px;
}

.counter {
	font-size: 12px;
}

#submitBtn {
	background: none;
	border: none;
	outline: none;
	padding: 9px 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	font-size: 14px;
	transition: .4s;
}

#submitBtn:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.red {
	color: red;
}