﻿@model Julie.Data.Models.LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/img_0/mini-logo.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Julie wear shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <div class="container">
        <header>
            <h1>
                <a href="/Home/Index">
                    <img src="~/img_0/logo.svg" alt="Authentic Collection">
                </a>
            </h1>
        </header>
        <h1 class="text-center">Login</h1>


        <form action="/Auth/Login" method="post">
            <div asp-validation-summary="All"></div>

            <label>
                <span asp-for="Email" class="label-text">Email</span>
                <input type="text" name="email" />
            </label>

            <label class="password">
                <span asp-validation-for="Password" class="label-text">Пароль</span>
                <button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </button>
                <input type="password" name="password" />
            </label>

            <div class="text-center">

                <button class="submit" name="login">Вход</button>

                <button class="button-reg"><a href="/Reg/Reg"> Нет аккаунта?</a></button>
            </div>
        </form>

    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>
