﻿@model Julie.ViewModels.RegisterViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/img_0/mini-logo.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Julie wear shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>
                <a href="#">
                    <img src="~/img_0/logo.svg" alt="Authentic Collection">
                </a>
            </h1>
        </header>
        <h1 class="text-center">Регистрация</h1>
        <form action="/Reg/Register" method="post" class="registration-form">

            <div asp-validation-summary="All"></div>

            <label class="col-one-half">
                <span class="label-text">Имя</span>
                <input type="text" name="name">
            </label>

            <label class="col-one-half">
                <span class="label-text">Фамилия</span>
                <input type="text" name="surname">
            </label>

            <label>
                <span class="label-text">Email</span>
                <input type="text" name="email">
            </label>

            <label class="password">
                <span class="label-text">Пароль</span>
                <button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </button>
                <input type="password" name="password">
            </label>

            <div class="text-center">
                <button class="submit" name="register">Зарегистрироваться</button>
            </div>

            <!--
    <div  class="text-center">
        <input class="submit" type="submit" name="register" value="Регистрация" />
    </div>
    -->

        </form>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>
</body>
</html>
