@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-color: #dd2f6e;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}
*{
    padding: 0;
    margin:  0;
    box-sizing:  border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100%;
}
.sidebar-brand {
    height: 90px;
    padding-left: 1rem 0 rem 1rem 2rem;
    color: #fff;

}
.sidebar-brand span{
    display: inline-block;
    padding-left: 1rem;

}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}
.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    display: flex;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
    padding-bottom: 1rem;
}

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.main-content{
    margin-left: 345px;
}
header {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgb(0 0 0);
    position: fixed;
    left: 345px;
    top: 0;
    z-index: 100;
    flex-direction: row;
    flex-wrap: nowrap;
    width: -webkit-fill-available;
    align-content: center;
    align-items: center;
}

header h2 {
    color: #222;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}
.search-wrapper {
    border: 1px solid #1d2231;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input {
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;

}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}
img {
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 5px;
    padding-left: 5px;
}
.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
    
}
main{
 margin-top: 85px;
 padding: 2rem 1.5rem;
 background: #f0f0f0;   
 min-height: calc(100vh-90px);
}
.cards {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff; 
    padding: 2rem;
    border-radius: 2px;
    
    color: var(--text-grey);
}
/*
.card-single div:last-child span{
  font-size: 3rem;
  color: var(--main-color);
}
.card-single div:first-child span{
  
  color: var(--text-grey);
}
.card-single:last-child{
  background-color: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span{
  color: #fff;
}
*/
.shine-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-color);
  transition: .2s ease-in-out;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.shine-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.shine-button:hover {
  background:var(--main-color);
  color: #fff;
}
.shine-button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}